* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.event-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-btn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.nav-btn:hover {
    color: #0af;
}

.event-card {
    background: #1e1e1e;
    border-radius: 20px;
    padding: 20px 25px;
    color: white;
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.event-title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
}

.event-info {
    width: 40%;
    flex-direction: column;
    gap: 12px;
    font-size: 0.95rem;
    margin-bottom: 15px;
}

.event-info i {
    color: #e74c3c;
    margin-right: 8px;
}

.capacity {
    display: flex;
    align-items: center;
}

.capacity span {
    background-color: #b33a2f;
    padding: 3px 15px;
    border-radius: 20px;
    margin-left: 5px;
    font-weight: bold;
}

.poster {
    align-self: center;
    margin: 15px 0;
}

.poster img {}

.book-btn {
    background-color: transparent;
    border: 1px solid #555;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    align-self: center;
    font-weight: bold;
    transition: 0.3s;
}

.book-btn:hover {
    background-color: #007bff;
    border-color: #007bff;
}